*{box-sizing: border-box;}

a{
    color:#000;
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

/* *********************nav****************** */

header{
    width: 100%;
    height: 120px;
    align-items: center;
    /* position: relative; */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

header:hover{
    border-bottom: 1px solid #ccc;
}

.top{
    display: flex;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%)
}

nav{
    display: flex;
    flex-direction: column;
}

.topnav{
    padding-right: 150px;
    height: 35px;
}

.topnav ul{
    display: flex;
    float: right;
}

.topnav ul li a{
    text-align: center;
    display: inline-block;
    width: 100px;
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.fa-building{
    padding-right: 10px;
}

.topnav ul li:first-child::after
{
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    right: 460px;
    top: 23px;
    background: #777;
}

.topnav ul li:nth-child(2)::after
{
    content: "";
    width: 1px;
    height: 12px;
    margin-left: 1px;
    background: #777;
    position: absolute;
    right: 340px;
    top: 23px;
}


.menu{
    padding-bottom: 50px;
}

.menu .gnb{
    display: flex;
}

.menu .gnb li{
    display: inline-flex;
    justify-content: space-between;
    width: 190px;
}

.menu .gnb>li>a:hover{
    color: rgb(64, 83, 228);
    text-decoration: underline;
    text-underline-offset : 5px;
}

.menu .gnb li a{
    font-size: 18px;
    font-weight: 500;
}

.logo img{
    padding-top: 20px;
    padding-right: 40px;
}

.menu ul.lnb {
    width: 200px;
    height: 320px;
    line-height: 50px;
    margin:0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: 100px;
    /* background-color: #fff; */
    display: none;
    z-index: 100;
}


.banner{
    position: relative;
}

.banner img{
    width: 100%;
    height: 660px;
    position: absolute;
    top: 0;
    z-index: -100;
}

.banner .p-box{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    top: 120px;
    left: 0px;
    z-index: -5;
}

.banner .p-box h1{
    font-size: 50px;
}

.banner .p-box p{
    font-size: 18px;
    font-weight: 500;
    line-height: 0.5;
}

.banner .p-box span a{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid #555;
    border-radius: 30px;
    color: #555;
}

.banner .p-box span a>i{
    color: #999;
    font-size: 15px;
}

.background{
    background-color: white;
    width: 100%;
    height: 400px;
    display: none;
    box-shadow: 0px 10px 15px 0 rgba(0,0,0,0.15);
}

.background::after{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 120px;
    background-color:#ccc;

}

.search{
    position: absolute;
    top: 760px;
    width: 100%;
    height: 125px;
    background: linear-gradient(to right,#46C4D9,#46C4D9, #418DE0, #2480E6);
}

.search-content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    top: 32px;
    left: 0px;
    
}

.search-content input{
    width: 900px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}

.search-content span{
border: none;
border-radius: 30px;
margin-left: 50px;
padding: 10px 20px;
background-color: #4D99E9;
height: 60px;
text-align: center;
display: inline-block;
box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1)
}

.fa-map-location-dot{
    padding-right: 10px;
    padding-left: 0px;
}

.fa-angle-right{
    padding-left: 50px;
    padding-right: 0px;
}

.search-content span a{
    display: inline-block;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    width: 220px;
    /* height: 100px; */
    font-size: 18px;
}

.search-content>a>i{
    position: absolute;
    top: 18px;
    left: 840px;
    font-size: 24px;
}

.map-box{
    position: absolute;
    top: 0px;
    left: 900px;
}



.company-box{
    position: relative;
    top: 550px;
    background-color: #f5f5f5;
    height: 800px;
    padding-top: 60px;
    padding-bottom: 130px;

}

div.company-one,
div.company-two{
    width: 1200px;
    margin: 0 auto;

}

.box{
    width: 350px;
    height: 230px;
    background-color: #fff;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    transition: all 300ms;
}


.company-text{
    width: 1200px;
    margin: 0 auto;
}

.company-text h1{
    display: inline-block;
    font-size: 40px;
    margin-right: 20px;
    margin-left: 10px;
}

.company-text a{
    font-size: 18px;
    color: #555;
    font-weight: 500;
}

.company-text a i{
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    top: -2px;
}

.company-two p, .company-two p>span{
    font-size: 14px;
    color: #999;
    font-weight: 500;
    margin: 0;
}


.company-two p>span{
    margin-left: 20px;
}

.box h3{
    color: #0082ff;
    font-size: 17px;
    font-weight: 500;
    padding-left: 45px;
    padding-top: 40px;
    padding-bottom: 0;
    margin: 0;
}

.box h1{
    color: #000;
    font-size: 28px;
    font-weight: 500;
    padding-left: 45px;
    margin: 0;
}

.box span{
    color: #555;
    font-size: 12px;
    padding-left: 45px;
    margin-top: 50px;
    display: inline-block;
}

.box a{
    color:#e44d4d;
    border: 1px solid #e44d4d;
    border-radius: 15px;
    padding: 0 15px;
    font-size: 13px;
    margin-left: 10px;

}



.mid-search{
    background-color: #479DEF;
    height: 380px;
    position: relative;
    top: 550px;
}

.inside{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    color: #fff;
}

.inside-one{
    width: 50%;
    margin: 80px 0 100px;
    padding: 0;
}
.inside-one h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.inside-one p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}


.inside-two{
    width: 30%;
    margin: 50px 0 100px;
    padding: 0;

}

.inside-two p{
    margin: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}

.inside-two span{
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}


.inside-three{
    width: 20%;
    margin: 0;
    padding: 60px 0 0 0;
}

.select-frame{
    width: 200px;
    height: 50px;
    background-color: #54ABFF;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
}

.select-frame a span{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.select-frame i{
    color: #fff;
    padding-left: 90px;
}

.search-frame{
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    margin: 20px 10px 10px;
    padding-top: 10px;
    text-align: center;
}

.search-frame a{
    color: #3073c1;
    font-size: 18px;
    font-weight: 700;
}

.search-frame a i{
    padding-right: 10px;
    padding-left: -10px;
}




/******guide******/

.guide{
    background-color: #f5f5f5;
    height: 580px;
    position: relative;
    top: 520px;
}

.guide-box{
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.guide-text{
    display: flex;
}

.guide-box>h1{
    font-size: 40px;
    margin-left: 10px;
}

.guide-one{
    width: 600px;
    height: 260px;
    background: #fff;
    padding: 50px 40px;
    margin: 10px;
}

.guide-one h3{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.guide-one p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #555;
}

.guide-one a{
    position: absolute;
    top: 420px;
    font-size: 14px;
    color: #999;
    text-decoration: underline;
}

.guide-one i{
    float: right;
    margin-top: 20px;
    font-size: 50px;
}

.guide-one:hover{
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.15);
}



/******notice******/

.notice{
    position: relative;
    top: 550px;
    height: 650px;
}

.notice>div{
    width: 1300px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
}

.big-banner{
    position: relative;
    margin: 0 10px;
}

.banner-text{
    position: absolute;
    top: 50px;
    left: 60px;
    color: #fff;
}

.banner-text h1{
    font-size: 40px;
    font-weight: 700;
}

.banner-text p{
    font-size: 18px;
    margin-top: 25px;
    font-weight: 400;
}

.banner-text a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 25px;
    font-weight: 500;
    display: inline-block;
    margin-top: 20px;
}

.notice-board{
    height: 300px;
    width: 620px;
    border: 1px solid #ddd;
    margin: 0 20px 25px 20px;
    padding: 40px;
}

.notice-board h3{
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    margin: 5px 0;
}

.notice-board span a{
    float: right;
    font-weight: 500;
    font-size: 18px;
    color: #333;
    letter-spacing: -0.5px;
}

.notice-board a{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    max-width: 80%;
    float: left;
    line-height: 40px;
}

.notice-board p>span{
    float: right;
    font-size: 16px;
    color: #999;
    margin-top: 5px;
}

.bank{
    margin: 30px 20px 0 20px;
    cursor: pointer;
}


/* ******img banner****** */
.img-banner{
    position: relative;
    height: 310px;
    background: #edf1f7;
    top: 750px;
}

.img-banner>div{
    display: flex;
    width: 1300px;
    margin: 0 auto;
    padding-top: 70px;
}

.img-banner-text{
    margin-left: 160px;
}

.img-banner-text h1{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
}

.img-banner-text p{
    font-size: 18px;
    line-height: 42px;
    color: #555;
    margin: 0;
    margin-top: 6px;

}

.img-banner-text a{
    display: inline-block;
    color: #555;
    font-weight: 500;
    padding: 10px 25px;
    border: 1px solid #555;
    border-radius: 23px;
    margin-top: 30px;
}


/* ******footer-banner****** */
.footer-banner{
    width: 1300px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top: 750px;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}


.footer-banner img{
    width: 150px;
    height: 40px;
    margin: 20px 20px;
}


/* ******footer***** */
footer{
    position: relative;
    top: 750px;
    left: 0;
    width: 100%;
    height: 260px;
    background: #333;
}

.top-footer{
    width: 1300px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    padding: 22px 0;
    border-bottom: 1px solid #444;
}

.top-footer-left{
    padding-top: 7px;
}

.top-footer-left a{
    color: #999;
    font-size: 15px;
    padding-right: 25px;
}

.top-footer-left a:first-child{
    color: #ddd;
}

.top-footer-left a:not(:first-child)::before{
    display: inline-block;
    content: '';
    width: 1px;
    height: 15px;
    vertical-align: middle;
    background: #555;
    margin: -2px 21px 0 0;
}

.top-footer-right select{
    width: 200px;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    margin-left: 400px;
    padding: 8px 15px;
    border: 1px solid #555;
    border-radius: 70px;
    color: #999;
    font-weight: 700;
    background: #333;
}


.bottom-footer{
    width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    height: 80px;
    display: flex;
    justify-content: space-between
}

.bottom-footer-info{
    margin-left: -280px;
}

.bottom-footer-info span{
    color: #ddd;
    padding-right: 5px;
    padding-left: 5px;
}

.bottom-footer-info address{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    color: #999;
    font-size: 14px;
}

.bottom-footer-info .info{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    color: #999;
    font-size: 14px;
}

.bottom-footer-info .copy{
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0;
    color: #999;
    font-size: 14px;
}


.bottom-footer-right-logo img{
    margin-right: 10px;
}



/* ******top****** */
.topup{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: rgba(66, 60, 60, 0.7);
    border-radius: 50%;
    z-index: 10000;
    display: none;
}

.topup a{
    color: #fff; 
    font-size: 14px;
    position: absolute;
    top: 26px;
    left: 16px;
}

.topup i{
    color: #fff; 
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 23px;
}

html { scroll-behavior: smooth; }

